* {
	box-sizing: border-box;
	margin: 0px;
}


.row {
	display: flex;
}

.background{
width: 100%;
height: 500px;
}

.background-img{
	background-image: url(../image/91284.jpg);
	width:100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(3.5px);
}


.sidebar{
	width: 20%;
	height:500px;
	background-color: rgba(0, 0, 0,0.5);
	display: flex; 
    flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	z-index: 5;
}



.navbar{
	color: white;
	font-size: 15px;
	font-weight: 600;
	margin-top: 40px;
	padding-right: 35px;
	text-transform: uppercase;
	text-align: center;
	list-style-type: none;

}

.icon{
	color: white;
	font-size: 25px;
	padding: 5px;

}

.box{
	width:25%;
	height:300px;
	padding: 30px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.25);
	border: solid white 2px;
	position: absolute;
	top: 100px;
	left: 60%;
}

.sidebar2{
	width: 20%;
	height:auto;
	background-color: gray;
}

.mainbar{
	width:80%;
	height:auto;
	background-color: white;
	color: rgb(150, 147, 147);
	font-size: small;
}

.box2{
	width:50%;
	height:auto;
	padding: 80px;
}

.ourwork-box {
    width: 100%;
    border: 4px double gray;
	margin: 0px 30px;
    padding: 5px;
    justify-content: space-around; 

}

.ourwork-box img {
    width: 24.7%; 
    height: 200px;
    object-fit: cover;

}

.logo-container{
	width:25%;
	height:auto;
	padding:20px;
	border: 1px solid gray;
}

.last-box{
	width:40%;
	height:200px;
	border: 5px double rgb(197, 193, 193);
	
}

.checkbox {
	background-color: rgba(169, 164, 164, 0.251);
	border-radius: 5px;
	color: white;
	padding: 20px;
	text-align: center;
}

.textarea {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
}

button{
	padding:5px 15px;
	border: 2px solid rgb(87, 86, 86);
}