.topbar{
    background-color: rgb(252, 202, 228);
    color: rgb(104, 100, 100);
    width: 100%;
    font-size: 15px;
}

.topbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.custom-nav{
    height: 100px;
    background-color: aliceblue;
    font-weight: bolder;
    
}